* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

body {
  background-color: #013CFE;
  color: #ffffff;

}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter p {
  margin: 10px 5px;
  padding: 10px 25px;

}


button {
  padding: 10px 25px;
  background: none;
  border-radius: 25px;
  color: #ffffff;
  box-shadow: none;
  border: 3px solid #ffffff;
  font-weight: bold;

}